name: Java CI/CD to Tomcat

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '8'

    - name: Build WAR
      run: mvn clean package

    - name: Copy WAR to server
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        key_format: base64
        source: "target/*.war"
        target: "/home/${{ secrets.SERVER_USER }}/"

    - name: Deploy in Tomcat
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        script: |
          rm -rf ~/tomcat/webapps/trainbook*
          cp ~/target/*.war ~/tomcat/webapps/trainbook.war
          ~/tomcat/bin/shutdown.sh || true
          sleep 5
          ~/tomcat/bin/startup.sh
